<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598114544247-grd0ha7qfjdedcuf4hqqm7angvrjbegc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598114544247-grd0ha7qfjdedcuf4hqqm7angvrjbegc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>598114544247-onql5qig8nmc3oqcjmfhg3qav67tiegk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBDfwBSE-LCSfkUnfEpp71FIj1v9krRjc</string>
	<key>GCM_SENDER_ID</key>
	<string>598114544247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-7d828</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-7d828.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598114544247:ios:0c7164ab48a392d489f472</string>
</dict>
</plist>